*{
    box-sizing: border-box;
  }
  body {
      margin: 0;
    }
    
    .header {
      background-color: #FF7C9E;
      padding: 10px;
      text-align: center;
      color: #FEFDFA;
    }
  
  .topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #831A39;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    }
    
    .topnav a {
      float: left;
      display: block;
      color: #FFAAFC;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    .topnav a:hover {
      color: #FFAAFC;
    }

.footer {
    background-color: #831A39;
        padding: 20px;
        text-align: right;
        margin-top: 175px;
        position: block;
    }
  
    .troca{
      float: right;
      display: block;
      color: #FFAAFC;
      text-align: center;
      text-decoration: none;
    }
